@import url(/theme.park/css/addons/unraid/login-page/star-trek/star-trek-base.css);
:root {
    --main-bg: radial-gradient(ellipse at center,rgba(0, 255, 119, 0.1) 0,rgba(0,255,119,0) 100%) center center/cover no-repeat fixed,
    url(/theme.park/css/addons/unraid/login-page/star-trek/wallpaper/lcars.jpg) center center/cover no-repeat fixed;
    --logo: url(/theme.park/css/addons/unraid/login-page/star-trek/logo/defiant.png) center no-repeat;
    --text-color: #0099f6;
    --input-color: #00b844;
    --link-color: #00b844;
    --link-color-hover: #0099f6;
    --case-color: #00b844;
    --button-text-color: #00b844;
    --button-text-color-hover: #000;
    --button-color: #00b844;
    --button-color-hover: #0099f6;
    --selection-color: #0099f6;
    --custom-text-header:#00b844;
    --custom-text-header-shadow:#00b844;
    --custom-text-header-animation: textflicker;
    --input-font: 'Share Tech Mono', monospace;
    --text-font: 'Share Tech Mono', monospace;
    --loginbox-background-color: transparent;
    --text-shadow: 0 0 8px;
    --text-shadow-color: #00b844;
    --box-shadow: 0 0 15px;
}
