:root {
  --main-bg-color: #0a1210;

  --modal-bg-color: #050a08;
  --modal-header-color: #050a08;
  --modal-footer-color: #050a08;
  --drop-down-menu-bg: #050a08;
  --button-color: #1a6fb5;
  --button-color-hover: #4ab3e8;
  --button-text: #c8d8c8;
  --button-text-hover: #fff;
  --accent-color: 26, 111, 181;
  --accent-color-hover: rgb(var(--accent-color),.8);
  --link-color: #4ab3e8;
  --link-color-hover: #c8d8c8;
  --label-text-color: #0a1210;

  --text: #c8d8c8;
  --text-hover: #fff;
  --text-muted: #3a7a3a;
  /*Specials*/
  --arr-queue-color: #1a6fb5; /* Servarr apps + Bazarr*/
  --plex-poster-unwatched: #1a6fb5;
  --petio-spinner: invert(42%) sepia(93%) saturate(400%) hue-rotate(180deg) brightness(90%) contrast(95%);
  --gitea-color-primary-dark-4: 26, 111, 181;
  --overseerr-gradient: linear-gradient(180deg, rgba(10, 18, 16, 0.17) 0%, rgba(10, 18, 16) 100%);
}
